{
    "extends": "eslint:recommended",
    "rules": {
        "no-console": "off",
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "node": true
    }
}
